<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.MemberDao"><!-- dao위치 -->
	<!-- login확인 -->
	<select id="selectIdAndPw" resultType="com.java.dto.MemberDto"><!-- 받는메소드,dto위치 -->
		select * from member where id=#{id} and pw=#{pw}
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertMember">
		insert into member values(#{id},#{pw},#{name},#{phone},#{email},#{gender},#{hobby})
	</insert>

	<!-- 회원검색 -->
	<select id="selectOne" resultType="com.java.dto.MemberDto"><!-- 받는메소드,dto위치 -->
		select * from member where id=#{id}
	</select>
	
	<!-- 회원정보수정 -->
	<update id="updateMember">
		update member set phone=#{phone},email=#{email},gender=#{gender},hobby=#{hobby}
		where id=#{id}
	</update>
</mapper>